.App {
  text-align: center;
}

.Palette {
  display: flex;
}

.ColorBox {
  margin: 4px;
}

.Color {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  position: relative;
}

table {
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
}

table td {
  overflow: hidden;
  padding: 12px 4px 0;
}

.MockChart {
  margin: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 450px;
}

.MockChart__bar1,
.MockChart__bar2,
.MockChart__bar3 {
  margin: 0 8px;
  width: 100%;
}

.MockChart__bar1 {
  height: 300px;
}
.MockChart__bar2 {
  height: 400px;
}
.MockChart__bar3 {
  height: 600px;
}

.MockChart__series1 {
  height: 30%;
}

.MockChart__series2 {
  height: 25%;
}

.MockChart__series3 {
  height: 20%;
}

.MockChart__series4 {
  height: 15%;
}

.MockChart__series5 {
  height: 10%;
  border-radius: 12px 12px 0 0;
}